<h1>Student Directory</h1>
<h3>Just students. No sorting.</h3>

<p>First Name: <%= @students.student().first_name %></p>
<p>Last Name: <%= @students.student().last_name %></p>
<p>House: <%= @students.student().house %></p>
<p>Age: <%= @students.student().age %></p>
